.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  list-style: none;
  transition: opacity 1s ease-in-out;
}

.footer__column-link:hover {
  opacity: 60%;
}
